
@{
    ViewData["Title"] = "CalculateFPS";
}
    <h1>
        <button type="button" onclick="window.location.href = 'BuildComputer';">Построй</button>
        <button type="button" onclick="window.location.href = 'CalculateFPS';">Изчисли FPS</button>
        <button type="button" onclick="window.location.href = 'UserPanel';">$username</button>
    </h1>
Моят компютър: (спецификации)
<br />
<br />
(трябва да добавим бутони с игри тук!)