@model PcBuildingSite.Data.Entities.Gpu

@{
    ViewData["Title"] = "AddGPU";
}

<h1>AddGPU</h1>

<h4>Gpu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddGPU">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="model" class="control-label"></label>
                <input asp-for="model" class="form-control" />
                <span asp-validation-for="model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="frequency" class="control-label"></label>
                <input asp-for="frequency" class="form-control" />
                <span asp-validation-for="frequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vramSpeed" class="control-label"></label>
                <input asp-for="vramSpeed" class="form-control" />
                <span asp-validation-for="vramSpeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cores" class="control-label"></label>
                <input asp-for="cores" class="form-control" />
                <span asp-validation-for="cores" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rtCores" class="control-label"></label>
                <input asp-for="rtCores" class="form-control" />
                <span asp-validation-for="rtCores" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="memoryQuantity" class="control-label"></label>
                <input asp-for="memoryQuantity" class="form-control" />
                <span asp-validation-for="memoryQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tdp" class="control-label"></label>
                <input asp-for="tdp" class="form-control" />
                <span asp-validation-for="tdp" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SliCrossfireSupport" /> @Html.DisplayNameFor(model => model.SliCrossfireSupport)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

